html,
body { height: 100%; }

body {
  background-color: #fafafa;
}

.main-layout {
  width: 100%;
  background-color: #fafafa;
  margin: 0 auto;
}

.mobile-screen {
  height: 100%;

  @media (min-width: 325px) {
    height: auto;
  }

  &.content-long {
    height: 100vh;

    @media (min-width: 325px) {
      height: auto;
    }
  }

  .mobile-content {
    @media (min-width: 325px) {
      height: 100vh;
    }
  }

  .mobile-actions {
    margin-top: 15px;

    @media (min-width: 325px) {
      position: relative;
      padding: 0;
    }
  }
}

.swal2-title {
  font-size: 1.5em !important;
}

.html-content p {
  margin-bottom: 20px;
}

.html-content ol {
  list-style: decimal;
  margin-left: 25px;

  li {
    margin-bottom: 20px;
  }
}

.form-radio:checked {
  @apply border-brand-green;
}

.form-select {
  .placeholdered {
    option[disabled] {
      @apply text-gray-500;
    }
  }
}

.form-style {
  @apply block pr-10 appearance-none border border-brand-grey-light rounded-lg w-full py-3 px-2 text-brand-grey leading-tight transition duration-500 ease-in-out;
}

.form-style:focus {
  @apply outline-none shadow bg-white border-brand-green;
}

.form-style-error {
  @apply border-brand-red text-brand-red placeholder-brand-red;
}

.form-style-error:focus {
  @apply border-brand-red;
}

.text-content {
  @apply text-base mt-4 text-brand-grey;
}
