body {
  background-color: #f7f7f7;
}

.main-layout > .content {
  max-width: 480px;
  width: 100%;
  background-color: #ffffff;
  //padding-bottom: 65px;
  margin: 0px auto;
}

.mobile-screen {
  height: calc(100vh - 48px);

  @media (min-width: 640px) {
    height: auto;
  }

  &.content-long {
    height: 100vh;

    @media (min-width: 640px) {
      height: auto;
    }
  }

  .mobile-content {
    @media (min-width: 640px) {
      height: 640px;
    }
  }

  .mobile-actions {
    margin-top: 15px;
    @media (min-width: 640px) {
      position: relative;
      padding: 0;
    }
  }
}

.swal2-title {
  font-size: 1.5em !important;
}

.html-content p {
  margin-bottom: 20px;
}

.html-content ol {
  list-style: decimal;
  margin-left: 25px;

  li {
    margin-bottom: 20px;
  }
}

.form-radio:checked {
  background-image: none;
}
